@CHARSET "ISO-8859-1";

.bookmark-info {
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid #eee;
}

.tooltip-inner {
	max-width: 300px;
	/* If max-width does not work, try using width instead */
	width: 300px;
	font-size: 14px;
	text-align: left;
}

.bookmark {
	padding-bottom: 15px;
	border-bottom: 1px solid #EEE;
}

.bookmark-tag {
	cursor: pointer;
}

.bookmark-tag:hover {
	text-decoration: underline;
}

.modal {
	overflow: scroll;
}

.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}

@media ( min-width : 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}

@media ( min-width : 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}

@media ( min-width : 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}

/* centered columns styles */
.row-centered {
	text-align: center;
}

.col-centered {
	display: inline-block;
	float: none;
	/* reset the text-align */
	text-align: left;
	/* inline-block space fix */
	margin-right: -4px;
}

.inline-div {
	display: inline-block
}

.center-div {
	text-align: center;
}